@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


:root{
    --primary-color:#36746a;
    --dark:#1a322e;
    --light:#ddfffa;
    --bright:#bbfff4;
}
body{
   padding:0;
   margin:0;
   background-color: var(--dark);
   font-family: 'Kalam', cursive;
   
}

header{
    background-color: var(--primary-color);
    color:var(--light);
    text-align: center;
    font-size: larger;
    margin:0; 
    position:fixed; 
    bottom:0; 
    left:0; 
    right:0;
    font-family: 'Courgette', cursive;
}
/* #middle{
    background-image: url(images/images.jpg);
    background-repeat: no-repeat;
    
    background-attachment:fixed
} */
footer{
    background-color: var(--primary-color);
    color:var(--light);
    margin:0; 
    position:fixed; 
    bottom:0; 
    left:0; 
    right:0;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    
}

textarea{
    width:50%;
    height:20vh;
    opacity: 0.5;
    font-family: 'Courgette', cursive;
    padding:1rem;
    margin:2px;
    border:none;
    border-radius: 0.1rem;
}

button{
    font-family: 'Noto Sans HK', sans-serif;
    font-weight:700;
    background-color: var(--dark);
    color:var(--light);
    border:none;
    border-radius: 0.1rem;;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:1rem;
}

.container > div{
    margin:1rem;
    padding:1rem;

}